<% if @basket.errors.any? %>
  <div class="alert alert-error">
    <p>
      Sorry, unable to proceed to the payment due to the following errors:
    </p>
    <ul>
    <% @basket.errors.full_messages.each do |msg| %>
      <li><%= msg.gsub('Shopper', 'Name') %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@basket, :url => basket_paypal_path, :html => { :class => "form-horizontal" }) do |f| %>
  <div class="control-group">
    <%= f.label :shopper, 'Name *', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :shopper, :class => 'span9' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :message, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :message, :class => 'span9' %>
      <div class="help-block">
        Send us a short message to ago along with the gift (optional)
      </div>
    </div>
  </div>

<% if @basket.total_price > 187 %>
  <div class="alert alert-info">
    You will be directed to PayPal to make the payment.  Some people have had issues with PayPal when using their credit card for orders over £187.
    <b>If you have any issues</b> with payment, please <b>contact <%= SECRET['contact'] %></b> and he will take your payment manually.
  </div>
<% end %>

  <div class="actions">
    <%= link_to 'Back', basket_show_path, :class => 'btn' %>
    <%= f.submit 'Payment', :class => 'btn btn-success' %>
  </div>
<% end %>
