<!DOCTYPE html>
<html>
<head>
  <title>Tie the Knot</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <script type="text/javascript">
    // Secret Configuration
    var domain = "<%= SECRET['domain'] %>"
    var analytics_id = "<%= SECRET['analytics_id'] %>"
  </script>

  <link rel="shortcut icon" href="/clapper.png">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= content_for?(:content) ? yield(:content) : yield %>

</html>
